.try{
    font-size: 1.6rem;  
    background-color: #02b3ea;
    color: white;
    width: 7rem;
    height: 4rem;
    border-radius: 24px 24px;
    border: 0;
    margin: 15px;
    
    margin-left: 4em;

}